<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <header><br>
            <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light shane">
                <a class="navbar-brand" href="#">Your Website</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> 
                        </li>
                        
                    </ul>
                </div>
            </nav>  -->
        </header>

        <main role="main">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Thanks for taking a look!</h1>
                    <p class="lead text-muted">If you're interested in helping do the artwork for my board game project please fill out the below form!

The board game is currently approaching its beta phase of play testing and my simple drawings are not going cut it for much longer. The components of the game are a game board with around 81 "Land Tiles." These will have land and waterways on them. There will be a handful of different physical markers and 3D figures. There will also be poker size cards with (currently) 8 different designs/themes. The overall goal of the game is to connect adjacent sides of the "map" and be the last person with all of their figures remaining. 

I've got the general idea for the art design and a few constraints to help facilitate the playable. I just need you to help bring it to life. 

I anticipate around three phases of working out the final art design and theme, but we could very well get it figured out on the first go around! </p>
                    <p>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdFI0TGqusRgpyB6cBC_6D8jXVCtPYCLDehJeCFTO3S0XNFlA/viewform" class="btn btn-primary my-2">Google Form Link</a>
                        <!-- Add more buttons or links as needed-->
                        <br>
                        <a href="/contact" class="btn btn-primary my-2" id="contactButton">Reach out Directly
                        </a>
                    </p>
                </div>
            </section>

            <!-- Add more sections/content here as needed -->

        </main>

        <footer class="text-muted text-center">
            <div class="container">
                <p>&copy; CFLWD.com</p>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
